@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
nav > ul.navbar-content {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(51,51,51);
}

nav > ul.navbar-content > li.navbar-item {
  float: left;
}

nav > ul.navbar-content > li.navbar-item > a {
  display: block;
  color: rgb(255,255,255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav > ul.navbar-content > li.navbar-item > a:hover {
  background-color: rgb(255,0,0);
}
