@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  height: 100%;
  width: 100%;
  margin: 0;
  display: table;
}

header {
  margin: 8px;
}

header > h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 30px;
}

nav {
  background-color: rgb(51,51,51);
  width: 100%;
  margin: 0;
  padding: 0;
}

nav > ul.navbar-content {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav > ul.navbar-content > li.navbar-item {
  float: left;
}

nav > ul.navbar-content > li.navbar-item > a {
  display: block;
  color: rgb(255,255,255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

nav > ul.navbar-content > li.navbar-item > a:hover {
  background-color: rgb(255,0,0);
}

nav > ul.navbar-content > li.navbar-item > a.navbar-home {
  display: block;
  color: rgb(255, 51, 65);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.content {
  margin: 8px;
}

footer {
  display: table-footer-group;
  margin: 8px;
  text-align: center;
}
