<h2>About the organization</h2>

<p>Intergalactic Airlines is a galaxy-class, TSB-certified passenger transit, luxury cruising and freight shipping
starline. It’s the second largest starline in the ‘Verse, after its main competitor Meridian Transit. I’m Phoenix
Branson, last living descendant of Richard Branson, known as the Founder of Virgin Galactic. I’m honored to lead
Intergalactic Airlines as CEO with collaboration of the Board as we work together to profitably grow the company
and create a well-organized career development plan for our members. The company name, Intergalactic Airlines, was
chosen to pay homage to our roots and modest origins. The company logo, Red Phoenix, was chosen to signify a
pioneering spirit, promoting ambition and determination to leave Earth. The company headquarters, Terra Prime, was
chosen due to the nexus of jump points, making this beautiful bayside city well connected in terms of communication
and trade.</p>

<p>Space is not only important for the future of transportation, commerce, and science; it’s also important for the
future of imagination. Intergalactic Airlines was founded in 2460 to support RSI’s campaign, “The Air You Breathe,”
to help humanity leave Earth and stake their claim in the ‘Verse. For half a millennium, this company has made
space travel affordable and accessible for all people of the UEE. For the rich and powerful, we offer luxury
cruising, which is a leader in first-class comfort. With an integrated operations platform, we offer freight
shipping services and commodity trading initiatives connecting all major markets and industries. In the early days
of Intergalactic Airlines, the CEO spent countless nights in the boardroom convincing the banks not to shut the
company down to avoid filing for bankruptcy. The starline industry is particularly vulnerable to exogenous events
such as piracy, terrorism, political instabilities and natural disasters, which can drastically affect operations
and ultimately the bottom line. However, with the UEE Government Starline Deregulation Act, we have successfully
managed to post consistent profits by removing government-imposed price restrictions and mandating specific flight
routes.</p>

<p>We operate out of five hubs around the ‘Verse, namely Terra, Earth, Cassel, Green and Lo. Prime is our largest hub,
both in terms of passengers carried and cargo delivered. New York is a close second. For our transit business, we
offer our passengers three classes of transport services: Economy Class, Business Class, and First Class. Whether
you want to enjoy the value-for-money comfort of Economy Class, get your trading and market research done during
Business Class, or enjoy a luxurious wine-and-dine experience of First Class, we have your flying needs covered.
For our logistics business, we offer the highest quality cargo transportation services within UEE-controlled space.
We fulfill our commitment to our customers through timely delivery, care in handling, and fair and consistent
pricing. We offer our customers five shipping services: Standard, Priority, Bulk, Secure, and Hazmat.</p>

<p>Our company is committed to protecting people and assets by incorporating flight marshals, escort fighter pilots,
and capital ships for fleet protection. From landing to lift off, they’ve got you covered. No other organization in
the ‘Verse matches Intergalactic Airlines incredible safety record. Our support services offer a broad portfolio of
services, ranging from engineering and science to resource acquisition and medical care. Support services plays a
pivotal role in maintaining efficient and effective operations. We’ve also established close business ties with
Crusader Industries, which is headquartered in Stanton, as they are the UEE’s premiere passenger and freight
transport development company. The LH307 Genesis is Crusaders’ Starliner chassis and is a common sight around the
‘Verse. As most frequently equipped, the Genesis-class includes support for forty passengers and eight crew. The
Transport Safety Board honored Crusader Industries and Intergalactic Airlines for their outstanding leadership and
contributions to positive bilateral relations.</p>

<p>Lastly, we recognize that giving back to the people of the UEE is an important part of being a responsible corporate
citizen. To that end, we support intergalactic humanitarian aid in an effort to save lives, alleviate suffering,
and maintain human dignity around the ‘Verse. It is our corporate responsibility to use our services, know-how and
philanthropy to bring about positive change to humanity. We will work with the UEE Government and humanitarian
organizations to help respond in times of crisis. As your CEO, I’m proud to introduce our official corporate
charity, namely “IGAIR Humanitarian Aid.”</p>

<p>Join us today as we embark on a adventure to explore an ever-expanding galaxy with untold astral wonders!</p>
