{{> header}}

<main>
    <div class="content-container">
        <div class="content">
            <h2>Connecting a Galaxy</h2>
            <p>Intergalactic Airlines is more than just an airline.<br>
            We are a mechanism for the galaxy to come together - passengers, cargo, security, engineering, science. And so much more.</p>
        </div>
    </div>
</main>