<p>Intergalactic Airlines is a galaxy-class, TSB-certified passenger transit, luxury cruising and freight shipping starline.
It’s the second largest starline in the ‘Verse, after its main competitor Meridian Transit.</p>
