{{> header}}

<p>We provide merchandise via our partner Spreadshirt who allows us a lot of customization options. They will ship
all over the globe! With every purchase, all funds IGAIR generate is going straight back into the community.</p>

<p>If you have ideas about items in the store or any other feedback, we'd love to hear it. Please get in touch with
COO DaneTime.</p>

<p>Here's the link to the store: <a href="https://shop.spreadshirt.com/igair">shop.spreadshirt.com/igair</a></p>

<p><img src="images/sweater-with-the-igair-logo.jpg" width="650px"/></p>

<p><strong>Please note: </strong> Those who order outside the US may need to check your countries import and customs
regulations as there may be a charge. For UK, select the Gift Wrap option at check out to reduce or eliminate these
charges.</p>