{{> header}}

<h2>Company Structure</h2>

<p>We operate within five divisions:
    <ol>
        <li>Logistics</li>
        <li>Transit</li>
        <li>Support Services</li>
        <li>Security</li>
        <li>Pulsar Racing Team</li>
    </ol>
</p>

<h2>Ranks</h2>
<p>
    <ul>
        <li>Management: Black and Platinum</li>
        <li>Field Officer: Blue and Gold</li>
        <li>Technical: Red and Silver</li>
        <li>Induction: White and colored Steel</li>
    </ul>
    <img src="images/rank-structure-overview.jpg" width="600px" alt="Rank Structure Overview"/>
</p>

<h2>Assets</h2>
<p>We have various versions of our logo available: <a href="images/igair-logo.svg">SVG with white background</a>, <a href="images/igair-logo-transparent.svg">SVG with transparent background</a>,
<a href="images/igair-logo-transparent.png">PNG with transparent background</a>. Also, find icons based on division and rank in this <a href="https://drive.google.com/drive/folders/1KvvLYjFbm9dzElxGhpFoXIDv_5izoCy2">Google Docs folder</a>,
provided by Greene.</p>