<nav>
    <ul class="navbar-content">
        <li class="navbar-item"><a href="#">About</a></li>
        <li class="navbar-item"><a href="#">News</a></li>
        <li class="navbar-item"><a href="#">Forum</a></li>
        <li class="navbar-item"><a href="/store">Store</a></li>
    </ul>
</nav>