<nav class="navbar">
    <div class="navbar-content">
        <ul class="navbar-links">
            <li class="navbar-link__hero"><a class="navbar-brand">// Intergalactic Airlines</a></li>
            <li class="navbar-link"><a href="#">About</a></li>
            <li class="navbar-link"><a href="#">News</a></li>
            <li class="navbar-link"><a href="#">Forum</a></li>
        </ul>
    </div>
</nav>