<nav>
    <ul class="navbar-content">
        <li class="navbar-item"><a href="/">Home</a></li>
        <li class="navbar-item"><a href="/about">About</a></li>
        <li class="navbar-item"><a href="#">News</a></li>
        <li class="navbar-item"><a href="/store">Store</a></li>
        <li class="navbar-item"><a href="https://robertsspaceindustries.com/spectrum/community/IGAIR" target="_blank">Forum</a></li>
    </ul>
</nav>