<nav>
    <ul class="navbar-content">
        <li class="navbar-item"><a class="navbar-home" href="/">Home</a></li>
        <li class="navbar-item"><a href="#">News</a></li>
        <li class="navbar-item"><a href="/about">About</a></li>
        <li class="navbar-item"><a href="/structure">Structure</a></li>
        <li class="navbar-item"><a href="/store">Store</a></li>
        <li class="navbar-item"><a href="/ext/org">RSI</a></li>
        <li class="navbar-item"><a href="/ext/discord">Discord</a></li>
        <li class="navbar-item"><a href="/ext/spectrum">Forum</a></li>
    </ul>
</nav>
